# Python
__pycache__/
*.py[cod]
*.pyo
backend/analyzer/__pycache__/database.cpython-314.pyc
backend/analyzer/__pycache__/service.cpython-314.pyc
backend/analyzer/__pycache__/app.cpython-311.pyc
backend/__pycache__/

# Virtual environments
venv/
.venv/
env/

# PyInstaller
build/
dist/

# SQLite database
*.db
*.sqlite3

# VS Code
.vscode/

# Logs
*.log
backend/ML Aegis/ml/generated_logs/

# OS files
.DS_Store
Thumbs.db


# Models
backend/ML Aegis/ml/model.pkl
backend/ML Aegis/ml/label_encoder.pkl
backend/ML Aegis/requirements.txt
backend/ML Aegis/training_dataset.csv